body {
  background-color: #cfe0e8;
}

.App {
  background-color: #87bdd8;
  min-height: 500px;
  width: 425px;
  margin: 40px auto;
  border-radius: 25px;
}

header {
  display: flex;
  align-items: center;
}
#to_do_form input {
  background-color: #b7d7e8;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 20px;
}

/* #to_do_form button {
  text-align: center;
  color: white;
  font-weight: 800;
  background-color: #96ceb4;
  border: none;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 15px;
} */

input:focus {
  outline: none;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.button {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
  letter-spacing: 2px;
  position: relative;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 10px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button:focus {
  outline: 0;
}
